* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('../public/nature.jpg');
    background-blend-mode: lighten;
}

button.square {
    height: 16px;
    width: 16px;
    margin: 1px;
}

.main-container {
    margin: auto;
    color: wheat;
    text-align: center;
    margin-top: 3em;
}

.main-container>h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

.game-container {
    margin: 1em;
}

.game-container>p:first-child {
    font-weight: bold;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 7px 14px;
    background-color: #7281cc;
    color: yellow;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0 0 5px;
    font-size: 20px;
    letter-spacing: .8px;
}

.game-container>p:last-child {
    font-weight: bold;
    margin: auto;
    margin-top: 0.5em;
    padding: 7px 14px;
    background-color: #7281cc;
    color: yellow;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0 0 5px;
    font-size: 20px;
    letter-spacing: .8px;

}

button.square {
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 40px;
}

#hr-one{
    height: 3px;
    background-color: #F5DEB3;
    margin-bottom: 5px;
    box-shadow: 0 0 2px;
}

.history-container > h1{
    font-size: 25px;
    margin-bottom: 5px;
}

.all-steps>button {
    background-color: palegoldenrod;
    color: darkblue;
    font-weight: 700;
    letter-spacing: .8px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px;
    padding: 3px 8px;
    margin: 3px;
    transition: .7s ease;
}

.all-steps>button:hover{
    background-color: goldenrod;;
}